@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.h1,
h2,
h3 {
    margin: 0;
    color: var(--typography-primary);
}

.h1 {
    font-family: Poppins;
    font-size: clamp(2rem, 2em, 4rem);
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}


.h2 {
    font-family: Poppins;
    font-size: clamp(1.5rem, 1.5em, 2.5rem);
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.h3 {
    font-family: Poppins;
    font-size: clamp(1.25rem, 1.25em, 1.75rem);
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.h4 {
    font-family: Poppins;
    font-size: clamp(1.125rem, 1.125em, 1.375rem);
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.plb {
    font-family: Poppins;
    font-size: clamp(0.875rem, 0.875em, 1.25rem);
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.pls {
    font-family: Poppins;
    font-size: clamp(0.875rem, 0.875em, 1.25rem);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.pl {
    font-family: Poppins;
    font-size: clamp(0.875rem, 0.875em, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.lpl {
    font-family: Poppins;
    font-size: clamp(0.875rem, 0.875em, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #535b68;
}

.pb {
    font-family: Poppins;
    font-size: clamp(0.75rem, 0.75em, 1rem);
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.ps {
    font-family: Poppins;
    font-size: clamp(0.75rem, 0.75em, 1rem);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.p {
    font-family: Poppins;
    font-size: clamp(0.75rem, 0.75em, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--Secondary-Colors-Mine-Shaft, #333);
}

.text-gray {
    font-family: Poppins;
    font-size: clamp(0.875rem, 0.875em, 1.25rem);
    font-style: italic;
    line-height: 140%;
    color: #718096;
}

.highlighted {
    text-decoration: underline;
}